.Cadastro{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(150deg,rgb(17, 35, 53), var(--azulEscuro)50%, #244d99 100%);
}

.btnPrincipais{
   display: flex;
   justify-content: left;
   gap: 40px;
}

button.actions{
    border: 2px solid var(--branco);
    color: var(--branco);
    box-shadow: 0px 0px 20px 3px var(--azul);
    border-radius: 8px 8px 8px 8px;
    padding: 10px;
    width: fit-content;
    font-size: 20px;
    background-color: transparent;
    padding: 10px 20px;
    cursor: pointer;
}

button.actions:hover{
    transform: scale(1.08);
    box-shadow: none;
    transition: 200ms;
    background: linear-gradient(90deg, var(--amarelo), #ff402f);
    color: var(--branco);
    border:  2px solid var(--branco);
}

.container{
    position: relative;
    width: 600px;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    overflow: hidden;
    padding: 50px;
}

.circulo{
    position: absolute;
    width: 550px;
    height: 550px;
    border: var(--cinzaEsbranquicado) 4px solid;
    border-radius: 50%;
    animation: deformar 6s infinite ease-in-out;
    transition:all 2s;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
    z-index: 2;
    pointer-events: none;
}
@keyframes deformar {
    0% {border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%;}
    25% {border-radius: 60% 40% 55% 45% / 45% 60% 40% 55%;}
    50% {border-radius: 40% 60% 45% 55% / 60% 40% 55% 45%;}
    75% {border-radius: 65% 35% 60% 40% / 35% 65% 40% 60%;}
    100% {border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%;}
}

form {
    max-width: 500px;
    align-content: center;
    padding-left: 50px;
}

form input{
    background-color: transparent;
    color: var(--branco);
    margin: 10px;
    padding: 10px;
    border: 2px solid var(--cinzaEsbranquicado);
    border-radius: 4px;
    font-size: 16px;
    width: 400px;
    z-index: 1;
}

form button{
    margin: 10px;
    margin-top: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background: linear-gradient(90deg, var(--amarelo), #ff402f);
    color: var(--preto);
    font-size: 16px;
    size:fit-content;
    z-index: 1;
    cursor: pointer;
}

form button:first-of-type{
    background-color: var(--azulEscuro);
}

form button:last-of-type{
    color: var(--preto);
}

form div{
    display: flex;
    flex-direction: row;
    gap: 50px;
    align-content: space-between;
}