.cabecalho {
    background-color: var(--cinzaEsbranquicado);
    font-size: 25px;
    font-family: sans-serif;
    font-weight: 600;
    color: var(--azulEscuro);
    text-align: center;
}

.cabecalho p {
    padding: 11px 0px;
}

.cabecalho nav {
    display: flex;
    justify-content: space-between;
    padding: 11px 0px;
    gap: 20px;
}