.cabecalho {
  background-color: var(--cinzaEsbranquecido);
  border-bottom: 1px solid #cacaca;
  padding: 10px 40px;
  font-family: sans-serif;
}

/* NAV em flex */
.cabecalho nav {    
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}

/* Links do menu */
.cabecalho nav div {
  font-size: 30px;
  display: flex;
  gap: 30px;
  flex: 1;
  justify-content: center; /* centraliza os links no meio */
}

.cabecalho nav a {
  text-decoration: none;
  font-size: 22px;
  font-weight: 600;
  color: var(--azulEscuro); /* azul escuro */
  transition: color 0.3s ease;
}

.cabecalho nav a:hover {
  color: var(--amarelo);
}

/* Botões */
.cabecalho button {
  font-size: 14px;
  font-weight: 600;
  padding: 10px 18px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}

/* Botão primário (Entrar) */
.cabecalho button:first-of-type {
  background-color: var(--azulEscuro); /* azul escuro */
  color: #fff;
  border: none;
}

.cabecalho button:first-of-type:hover {
  background-color: #223a63;
}

/* Botão secundário (Criar conta) */
.cabecalho button:last-of-type {
  background-color: var(--amarelo); /* amarelo dourado */
  color: #000;
  border: none;
}

.cabecalho button:last-of-type:hover {
  background-color: #ce9f11;
}
