.titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.titulo h1{
    padding: 20px 0px;
    font-size: 45px;
    width: 100%;
    position: relative;
    text-align: center;
    color: #ffcc00;
}

.vestibulares{
    position: relative;
    padding: 30px 0;
    margin: 50px;
    margin-right: 6px;
}

.primeirosCards{
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* exatamente 5 colunas */
  gap: 20px;
}

.ultimosCards {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-top: 20px; /* opcional, para espaçamento */
}



.vestibularCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: var(--branco);
  height: 350px;
  width: 300px;
  text-align: center;
  padding: 20px;
  border-radius: 12px;
  margin-bottom: 20px;
  box-shadow: 0cap 2px 15px #3578d6;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.vestibularCard h3 {
  font-size: 25px;
  font-weight: 600;
  color: var(--azulMaisEscuro);
}

.vestibularCard h4{
  padding: 10px;
  font-size: 15px;
  font-weight: bold;
  color: #1e3a8a;
  margin-bottom: 10px;
}

.vestibularCard p {
  font-weight: 500;
  font-size: 15px;
  text-align: justify;
  color: var(--azulEscuro);
}

.vestibularCard:hover {
  transform: translateY(-5px) scale(1.02);
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}

/* Botão chamativo */
.btn {
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 0px;
  padding: 12px 20px;
  background: linear-gradient(90deg, rgb(2, 54, 128), var(--azul));
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px; 
  font-weight: bold;
  /* transition: transform 0.3s ease, background 0.3s ease; */
}

.btn a {
  color: var(--branco);
  text-decoration: none;
}

.btn:hover {
  background: linear-gradient(90deg, var(--azul), rgb(2, 54, 128));
  transform: scale(1.05);
}
