.QuemSomos {
  background-color: var(--azulRoyal); /* azul parecido com o da imagem */
  color: #ffffff;
  padding: 4rem 2rem;
  text-align: center;
  font-family: var(--fonte);
}

.osCriadores{
  text-align: justify;
  padding-left: 25%;
}

.osCriadores h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.osCriadores p {
  font-size: 1rem;
  color: #e0e0e0;
  margin-bottom: 4rem;
}

/* Carrossel */
.carrosselConteudo {
  display: flex;
  align-items: center;
  justify-content: column;  
  gap: 1.5rem;
  margin-bottom: 2rem;
  float:left;
  padding-left: 25%;
}

.carrosselImg {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 50%; /* imagem redonda */
  border: 4px solid #ffcc00; /* detalhe amarelo */
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
}

.carrosselBtn {
  background: none;
  border: none;
  cursor: pointer;
  color: #ffcc00;
  transition: transform 0.2s ease;
}

.carrosselBtn:hover {
  transform: scale(1.2);
}

/* Informações do Criador */
.info {
  max-width: 700px;
  margin: 0 auto;
  padding-top: 50px;
}

.pessoa {
  margin-bottom: 2rem;
}

.pessoa h2 {
  font-size: 1.5rem;
  font-weight: bold;
  color: #ffcc00; /* títulos em amarelo */
  margin-bottom: 0.5rem;
  
}

.pessoa p {
  font-size: 1rem;
  color: #ffffff;
  line-height: 1.6;
}
