/* HERO */
.Sobre {
  font-family: var(--fonte);
  height: 100hv;
}

.hero {
  background-image: url('/assets/SOBRE.png'); /* Note a barra inicial */
  margin: 35px;
  border-radius: 12px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--branco);
  text-align: center;
  position: relative;
}


.overlay {
  color: var(--branco);
  text-align: center;
  padding: 40px;
  border-radius: 12px;
}

.overlay h1 {
  font-size: 59px;
  margin-bottom: 15px;
  font-weight: 800;
  text-shadow: 4px 3px 4px var(--azulMaisEscuro);
}

.overlay p {
  font-size: 18px;
  max-width: 700px;
  margin: 0 auto 20px;
  line-height: 1.6;
}

.btnHero {
  background: var(--amarelo);
  border: none;
  padding: 12px 26px;
  border-radius: 8px;
  color: var(--branco);
  font-size: 16px;
  cursor: pointer;
  font-weight: 400;
}

/* CONTEÚDO */
.conteudo {
  max-width: 1100px;
  margin: 50px auto;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}



.card {
  background: var(--branco);
  border-radius: 16px;
  padding: 28px;
  box-shadow: 0 4px 12px var(--azulEscuro);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 18px var(--azul);
}

.titulo {
  font-size: 26px;
  font-weight: 800;
  margin-bottom: 12px;
  color: #1e3a8a;
  border-left: 6px solid #3b82f6;
  padding-left: 10px;
}

.card p {
  font-size: 16px;
  line-height: 1.6;
  color: #333;
}

/* Card com imagem */
.destaque {
  display: grid;
  grid-template-columns: 1fr 0.6fr;
  align-items: center;
  gap: 20px;
}

.img-container {
  display: flex;
  justify-content: center;
}

.img-container img {
  width: 140px;
  height: auto;
}


